<ion-view view-title="Calendar">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <p>
          <b>Sat, May 20</b>
          - 9am - 1pm
        </p>
      </div>
      <div class="item item-text-wrap">
        <h2 style="color: black;">Twin Cities Hospital Day</h2>
        <p>
          Families are welcome. Trout pond and activities on the front lawn. Lunch will be served from 11 AM to 1 PM.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <p>
          <b>Mon, May 22</b>
          - 5:30pm - 6:30pm
        </p>
      </div>
      <div class="item item-text-wrap">
        <h2 style="color: black;">OES</h2>
        <p>
          Alpha Chapter #23 of the Order of Eastern Star welcomes new members and visiting Eastern Star members. The Chapter has meetings on the second and fourth Mondays of the month except the July and August vacation time.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <p>
          <b>Tue, May 23</b>
          - 6am - 7pm
        </p>
      </div>
      <div class="item item-text-wrap">
        <h2 style="color: black;">Dinner</h2>
        <p>
          Members gather for dinner and social one hour before the stated meeting. Stated meetings are closed to the public. Non members may attend dinner by invitation only.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <p>
          <b>Tue, May 23</b>
          - 6pm - 7pm
        </p>
      </div>
      <div class="item item-text-wrap">
        <h2 style="color: black;">Ladies Auxillary</h2>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <p>
          <b>Tue, May 23</b>
          - 7pm - 8pm
        </p>
      </div>
      <div class="item item-text-wrap">
        <h2 style="color: black;">Stated Meeting</h2>
        <p>
          Stated Meetings are closed to the public. Members of the public who are interested in learning more about Aurora Lodge # 100 may contact the lodge via our website at www.brainerdmasonic.org.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
