<ion-view view-title="Home">
  <ion-content>
    <div class="item item-image">
      <img src="http://www.masonicsupplyshop.com/content/EMBLEMS/square-and-compass-10/square-and-compass-10_big.jpg">
    </div>

    <div style="text-align: center">
      <h1>Brainerd Masonic Center</h1>
      <h5>
        Ancient Free and Accepted Masons, Order of Easter Star, Aadzuhman Shrine
    </h5>
    </div>

    <div class="iconRow">
      <div class="homeIconHolder">
        <i class="icon homeIcon ion-calendar"></i>
        <p>
          Events
        </p>
      </div>
      <div class="homeIconHolder">
        <i class="icon homeIcon ion-home"></i>
        <p>
          Organizations
        </p>
      </div>

    </div>

    <div class="iconRow">
      <div class="homeIconHolder">
        <i class="icon homeIcon ion-social-usd"></i>
        <p>
          Dues
        </p>
      </div>
      <div class="homeIconHolder">
        <i class="icon homeIcon ion-gear-a"></i>
        <p>
          Donations
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
