<ion-view view-title="Home">
  <ion-content>
    <div class="item item-image">
      <img src="http://www.masonicsupplyshop.com/content/EMBLEMS/square-and-compass-10/square-and-compass-10_big.jpg">
    </div>

    <div style="text-align: center">
      <h1>Brainerd Masonic Center</h1>
      <h5>
        Aurora Lodge #100, Alpha Chapter #23 - Order of the Eastern Star, Aadzuhman Shrine Club, AAD Oriental Band, Women's General Auxiliary
    </h5>
    </div>

    <div class="iconRow">
      <div class="homeIconHolder">
        <i class="icon homeIcon ion-calendar"></i>
        <p>
          Events
        </p>
      </div>
      <div class="homeIconHolder">
        <i class="icon homeIcon ion-home"></i>
        <p>
          Organizations
        </p>
      </div>

    </div>

    <div class="iconRow">
      <div class="homeIconHolder">
        <i class="icon homeIcon ion-social-usd"></i>
        <p>
          Dues/Donations
        </p>
      </div>
      <div class="homeIconHolder">
        <i class="icon homeIcon ion-gear-a"></i>
        <p>
          Settings
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
