<ion-view view-title="Organizations" ng-controller="organizations">
  <ion-content>
    <div id="organizationsContainer">
      <h1>Organizations</h1>

      <button class="button button-block button-positive" ng-click="goToOrg(1)">
        Aurora Lodge 100
      </button>

            <button class="button button-block button-positive" ng-click="goToOrg(2)">
              Order of the Eastern Star
            </button>

      <button class="button button-block button-positive" ng-click="goToOrg(3)">
        Addzuhman Shrine
      </button>
      <button class="button button-block button-positive" ng-click="goToOrg(4)">
      AAD Oriental Band
      </button>

      <button class="button button-block button-positive" ng-click="goToOrg(5)">
        Ladies Auxiliary
      </button>
    </div>
  </ion-content>
</ion-view>
