<ion-view view-title="Organizations" ng-controller="organizations">
  <ion-content>
    <div id="organizationsContainer">
      <h1>Organizations</h1>

      <button class="button button-block button-positive" href="#/app/sub_organizations">
        Aurora Lodge 100
      </button>

      <button class="button button-block button-positive" href="#/app/sub_organizations">
        Addzuhman Shrine
      </button>

      <button class="button button-block button-positive" href="#/app/sub_organizations">
        Order of the Eastern Star
      </button>

      <button class="button button-block button-positive" href="#/app/sub_organizations">
        Oriental Band
      </button>

      <button class="button button-block button-positive" href="#/app/sub_organizations">
        Ladies Auxialiary
      </button>
    </div>
  </ion-content>
</ion-view>
