<ion-view view-title="Organizations" ng-controller="organizations">
  <ion-content>
    <div id="organizationsContainer">
      <button class="button button-block button-positive" ng-click="goToOrg('lodge')">
        Aurora Lodge 100
      </button>

      <button class="button button-block button-positive" ng-click="goToOrg('shrine')">
        Addzuhman Shrine
      </button>

      <button class="button button-block button-positive" ng-click="goToOrg('order')">
        Order of the Eastern Star
      </button>

      <button class="button button-block button-positive" ng-click="goToOrg('band')">
        Oriental Band
      </button>

      <button class="button button-block button-positive" ng-click="goToOrg('auxiliary')">
        Ladies Auxiliary
      </button>
    </div>
  </ion-content>
</ion-view>
