<ion-view view-title="{{organization.name}}" ng-controller="sub_organizations">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://www.freeiconspng.com/uploads/profile-icon-9.png">
        <h2 style="color: #000000;">{{organization.name}}</h2>
      </div>

      <div class="item item-body">
        <p>{{organization.about1}}</p>
        <p>{{organization.about2}}</p>

        <hr />

        <div ng-repeat="contact in organization.contacts">
          <h3 style="color: #000000;">{{contact.contact.name}} - {{contact.contact.role}}</h3>
          <p style="color: #000000;">
            <a href="mailto:{{contact.contact.email}}">{{contact.contact.email}}</a>
          </p>
          <p style="color: #000000;">
            <a href="tel:+1{{contact.contact.phone}}">{{contact.contact.phone}}</a>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
